/* Start Card */
.card {
  display: grid;
  align-items: self-end;
  justify-content: center;
  background-color: white;
  min-width: 40px;
  row-gap: 2.7rem;
  border-radius: 0 0 5px 5px;
}
/* End Card */
